# Symfony
/var/
/vendor/
/.env.local
.env.*.local
.env.test

# Logs
/log/
/*.log

# Cache
/cache/
!/.gitkeep

# PHPStorm
.idea/

# VSCode
.vscode/

# node/npm
/node_modules/
/npm-debug.log
/yarn-error.log

# Symfony Encore / Webpack
/public/build/
/public/bundles/
/assets/.cache/
/package-lock.json

# Git
*.orig

# PHPUnit
.phpunit.result.cache

# Coverage reports
/coverage/
