.auth-bg {
  background-image: url("../images/auth-bg.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-header .text-header {
  color: #fff;
}

@media (max-width: 380px) {
  .navbar-brand-box {
    display: block;
  }

  .logo-xs {
    height: 45px;
  }
}

@media (max-width: 768px) {

  .fixed-section {
    position: initial;
    top: 20px;
    height: fit-content;
  }
}
